body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ margin:0; padding:0;}
table{ border-collapse:collapse; border-spacing:0;}
fieldset,img{ border:0;}
address,caption,cite,code,dfn,th,var{ font-style:normal; font-weight:normal;}
ol,ul{ list-style:none;}
caption,th{ text-align:left;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
q:before,q:after{ content:'';}
abbr,acronym{ border:0;}

html {
	overflow:-moz-scrollbars-vertical;
}
body{
	/* 	background:#eee; */
	background: white;
	color:#333;
	font-family:Arial,sans-serif;
	font-size:12px;
	line-height:16px;
	text-shadow:0 1px 0 #fff;
}
a{
	color:#333;
	text-decoration:underline;
}

#main_logo {
	width:440px;
}

form{
	/* 	background:#f7f7f7; */
	background: transparent;
	/* 	background:-moz-linear-gradient(90deg, #ccc, #fff); */
	background:-moz-linear-gradient(90deg, rgba(204,204,204,0.7), rgba(255,255,255,0.7)); /* Firefox */
	/* 	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)); */
	background:-webkit-gradient(linear, left top, left bottom, from( rgba(255,255,255,0.7) ), to( rgba(204,204,204,0.7) )); /* Webkit */
	border:1px solid #aaa;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius: 10px;
	-moz-box-shadow:0 0 15px #aaa;
	-webkit-box-shadow:0 0 15px #aaa;
	margin:-410px auto 0;
	padding:20px;
	width:440px;
	position: relative;
}
h1{
	border-bottom:1px solid #ccc;
	font-size:11px;
	font-weight:bold;
	letter-spacing:2px;
	margin-bottom:20px;
	text-transform:uppercase;
}
form p{
	margin-bottom:20px;
}
form p:last-child{ /* Sélecteur avancé pour sélectionner le dernier paragraphe du formulaire */
	margin-bottom:0;
}
label{
	cursor:pointer;
	display:block;
	float:left;
	font-size:13px;
	font-weight:bold;
	line-height:28px;
	margin-bottom:5px;
	width:120px;
}
form p:hover label{
	color:#0459b7;
}
form p:hover label:after{
	content:" >>";
}
input[type=text],
input[type=password]{
	background: rgba(255, 255, 255, 0.9);
	background:-moz-linear-gradient(90deg, #fff, #eee); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff), color-stop(0.2, #fff)); /* Webkit */
	border:1px solid #aaa;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-khtml-border-radius: 3px;
	-moz-box-shadow:0 0 3px #aaa;
	-webkit-box-shadow:0 0 3px #aaa;
	padding:5px;
}
input[type=text]:focus,
input[type=password]:focus{
	border-color:#093c75;
	-moz-box-shadow:0 0 3px #0459b7;
	-webkit-box-shadow:0 0 3px #0459b7;
	outline:none; /* Pour enlever le contour jaune lorsque l'on sélectionne un input dans Chrome */
}
select{
	cursor:pointer;
	padding:3px;
	-moz-box-shadow:0 0 3px #aaa;
	-webkit-box-shadow:0 0 3px #aaa;
}
select:active,
select:focus{
	border:1px solid #093c75;
	-moz-box-shadow:0 0 3px #0459b7;
	-webkit-box-shadow:0 0 3px #0459b7;
	outline:none;
}
input[type=submit],
a.submit{
	background:#ddd;
	background:-moz-linear-gradient(90deg, #95bd0d, #b1e012); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#b1e012), to(#95bd0d)); /* Webkit */
	border:1px solid #093c75;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-box-shadow:0 1px 0 #fff;
	-webkit-box-shadow:0 1px 0 #fff;
	color:#fff;
	cursor:pointer;
	font-family:Arial,sans-serif;
	font-size:12px;
	font-weight:bold;
	margin-left:120px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0 1px 1px #333;
	text-transform:uppercase;
}
input[type=submit]:hover,
a.submit:hover{
	background:#eee;
	background:-moz-linear-gradient(90deg, #a9d60f, #c5fa14);
	background:-webkit-gradient(linear, left top, left bottom, from(#c5fa14), to(#a9d60f));
	border-color:#093c75;
	text-decoration:none;
}
input[type=submit]:active,
input[type=submit]:focus,
a.submit:active,
a.submit:focus{
	background:#ccc;
	background:-moz-linear-gradient(90deg, #c5fa14, #a9d60f);
	background:-webkit-gradient(linear, left top, left bottom, from(#a9d60f), to(#c5fa14));
	border-color:#093c75;
	outline:none;
}
#options{
	margin-bottom:20px;
}
#options p{
	display:none;
}
#options .show{
	display:block;
}
#options:target .show{
	display:none;
}
#options .hide{
	display:none;
}
#options:target .hide{
	display:block;
}
#options:target p{
	display:block;
}
#status_success{
	background:rgba(65, 166, 42, 0.2);
	border:2px solid #41a62a;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	display:block;
	padding:5px 10px;
}
#status_error{
	background:rgba(219, 41, 41, 0.2);
	border:2px solid #db2929;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	display:block;
	padding:5px 10px;
}

#app_state{
	margin-top: 2px;
	border:2px solid #db2929;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	display:block;
	background-repeat:no-repeat;
/* 	float: left; */
	padding:5px 10px;
	height: 20px;
	vertical-align: middle;
}

#app_state p {
	margin-left: 35px;
}

.app_state_warning {
	background-color: rgba(255,128,0,0.5);
	background-image: url(../../images/genymobile-2012/notifications/warning.png);
}

.app_state_critical {
	background-color: rgba(255,0,0,0.5);
	background-image: url(../../images/genymobile-2012/notifications/critical.png);
	text-decoration: none;
	text-shadow:0;
	color: white;
}

/*#finish:target{
 *	display:block;
 * }*/
#credits{
	font-size:11px;
	margin-top:160px;
	text-align:center;
}

#footer {
	background:#f7f7f7;
	background:-moz-linear-gradient(90deg, #ccc, #fff); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)); /* Webkit */
	border:1px solid #aaa;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-box-shadow:0 0 15px #aaa;
	-webkit-box-shadow:0 0 15px #aaa;
	margin:10px auto 0;
	padding:20px;
	width:440px;
	font-size:11px;
	/*margin-top:20px;*/
	text-align:center;
}
