body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,li{ margin:0; padding:0;}
table{ border-collapse:collapse; border-spacing:0;}
fieldset,img{ border:0;}
address,caption,cite,code,dfn,th,var{ font-style:normal; font-weight:normal;}
ol,ul{ list-style:none;}
caption,th{ text-align:left;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
q:before,q:after{ content:'';}
abbr,acronym{ border:0;}

html {
	overflow:-moz-scrollbars-vertical;
	height: 100%;
}
body{
/* 	background:#eee; */
	/*background-color: #fbfbfb;
	background-image:url("../../images/genymobile-2012/background_p.png");
	background-repeat: repeat-y;*/
	
	background-color: #F7F7F7;
	background-image: -webkit-gradient(linear, left, right, from(#f7f7f7), to(#FFFFFF));
	background-image: -webkit-linear-gradient(left, #f7f7f7, #FFFFFF);
	background-image: -moz-linear-gradient(left, #f7f7f7, #FFFFFF);
	background-image: -ms-linear-gradient(left, #f7f7f7, #FFFFFF);
	background-image: -o-linear-gradient(left, #f7f7f7, #FFFFFF);
	background-image: linear-gradient(left, #f7f7f7, #FFFFFF);
	background-repeat: repeat-x;
	
	color:#333;
	font-family: 'Lato', sans-serif;
	font-size:14px;
	line-height:16px;
	text-shadow:0 1px 0 #fff;
	height: 100%;
}
a{
	color:#333;
	text-decoration:underline;
}

input[type=submit],
input[type=button].submit,
a.submit{
	background:#ddd;
	background:-moz-linear-gradient(90deg, #95bd0d, #b1e012); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#b1e012), to(#95bd0d)); /* Webkit */
	border:1px solid #093c75;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-box-shadow:0 1px 0 #fff;
	-webkit-box-shadow:0 1px 0 #fff;
	color:#fff;
	cursor:pointer;
/* 	font-family:Arial,sans-serif; */
	font-family: 'Lato', sans-serif;
	font-size:14px;
	font-weight:bold;
	margin-left:120px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0 1px 1px #333;
	text-transform:uppercase;
}
input[type=submit]:hover,
input[type=button].submit:hover,
a.submit:hover{
	background:#eee;
	background:-moz-linear-gradient(90deg, #a9d60f, #c5fa14);
	background:-webkit-gradient(linear, left top, left bottom, from(#c5fa14), to(#a9d60f));
	border-color:#093c75;
	text-decoration:none;
}
input[type=submit]:active,
input[type=submit]:focus,
input[type=button].submit:active,
input[type=button].submit:focus,
a.submit:active,
a.submit:focus{
	background:#ccc;
	background:-moz-linear-gradient(90deg, #c5fa14, #a9d60f);
	background:-webkit-gradient(linear, left top, left bottom, from(#a9d60f), to(#c5fa14));
	border-color:#093c75;
	outline:none;
}

.table_container {
	width: 932px;
}

.table_container select {
	width: 150px;
}

form{
	/*background:#f7f7f7;*/
	/*background:-moz-linear-gradient(90deg, #ccc, #fff);
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));*/
/* 	border:1px solid #aaa; */
	/*-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius: 10px;*/
	/*-moz-box-shadow:0 0 15px #aaa;
	-webkit-box-shadow:0 0 15px #aaa;*/
	margin:10px auto 0;
	padding:20px;
	width:660px;
}

form p{
	margin-bottom:20px;
}
form p:last-child{ /* Sélecteur avancé pour sélectionner le dernier paragraphe du formulaire */
	margin-bottom:0;
}
label{
	cursor:pointer;
	display:block;
	float:left;
	font-size:15px;
	font-weight:bold;
	line-height:28px;
	margin-bottom:5px;
	width:150px;
}

form select {
	cursor:pointer;
	display:block;
/* 	float:left; */
	font-size:14px;
	font-weight:bold;
	line-height:28px;
	margin-bottom:5px;
	width:245px;
	text-align: center;
}

form input[type=text] {
	width: 245px;
}

form textarea {
	width: 245px;
}

form p:hover label{
	color:#0459b7;
}

.centered {
	vertical-align: middle;
	text-align: center;
}

img#logo {
	position: absolute;
	display: block;
	top: 10px;
	left: -10px;
}
#headband {
	position: absolute;
	display: block;
	height: 22px;
	text-align: left;
	vertical-align: middle;
	color: #6a6a6a;
	/*background:#f7f7f7;
	background:-moz-linear-gradient(90deg, #ccc, #fff);*/ /* Firefox */
	/*background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));*/ /* Webkit */
	background-color: #e7f3bd;
	border-bottom:1px solid #cedba2;
	border-left:1px solid #cedba2;
	border-right:1px solid #cedba2;
	-moz-border-radius:0px 0px 10px 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-khtml-border-bottom-right-radius: 10px;
	-khtml-border-bottom-left-radius: 10px;
	margin:auto auto 0 auto;
	padding:4px;
/* 	padding-bottom:15px; */
	width:auto;
	top:0px;
	font-size:14px;
	left:160px;
	/*margin-top:20px;*/
}

#wrapper {
/* 	background-color: red; */
	margin-top: 150px;
	margin-left: 10px;
	margin-right: 10px;
/* 	margin-bottom: 30px; */
}

#load {
/* 	display: none; */
	position: absolute;
	right: 30px;
	top: 30px;
	background: url(../../images/genymobile-2012/ajax-loader.gif);
	min-width: 66px;
	min-height: 66px;
	text-indent: -9999em;
}

div#maindock {
	position: relative;
	margin-top:-37px;
	margin-left: 180px;
	margin-right: auto;
/* 	border: 1px solid black; */
	/*height: auto;*/
	/*width: 100%;*/
}

div#maindock ul {
	padding-right: 20px;
	padding-bottom: 20px;
	vertical-align: middle;
}

div#maindock ul li {
	display: inline;
	margin: 0px auto auto auto;
	padding-right: 20px;
	padding-bottom: 20px;
	vertical-align: middle;
}

div#maindock ul li a {
	text-align: center;
	margin-left: 50px;
	margin-bottom: 50px;
	background-repeat:no-repeat;
	background-position:10px 10px;
}

div#maindock ul li a {
	display:block;
	float: left;
	width: 350px;
	height: 150px;
	text-decoration:none;
	color: #6a6a6a;
/* 	background-color: #e7f3bd; */
	background-color: transparent;
	border: 1px solid #D8D8D8;
/* 	border: 1px solid #cedba2; */
	/*-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px;
	-khtml-border-radius: 10px;*/
	text-align:center;
/* 	opacity: 0.85;  */
	padding: 5px;
}

div#maindock a:hover{
	background-color:#84BE5D;
	border: 1px solid #D9D9D9;
	color: #fff;
	text-shadow:none;
}

div#maindock a span.dock_item_title{
	position: relative;
	left: 30px;
	top: 20px;
	margin-left: auto;
	margin-right: auto;
	font-size:30px;
	font-weight: x-large;
/* 	color: #6a6a6a; */
/* 	text-shadow: 0 -1px 1px #fff;  */
/* 	text-align:center; */
}

div#maindock a span.dock_item_content {
	position: relative;
	top: 60px;
	font-size:14px;
}

li.cra_add a {
	background-image: url(../../images/genymobile-2012/cra_add.png);
}

li.cra_edit a {
	background-image: url(../../images/genymobile-2012/cra_edit.png);
}

li.cra_remove a {
	background-image: url(../../images/genymobile-2012/cra_remove.png);
}

li.cra_list a {
	background-image: url(../../images/genymobile-2012/cra_list.png);
}

li.conges_add a {
	background-image: url(../../images/genymobile-2012/conges_add.png);
}

li.conges_edit a {
	background-image: url(../../images/genymobile-2012/conges_edit.png);
}

li.conges_remove a {
	background-image: url(../../images/genymobile-2012/conges_remove.png);
}

li.conges_list a {
	background-image: url(../../images/genymobile-2012/conges_list.png);
}

li.cra_admin_generic a {
	background-image: url(../../images/genymobile-2012/cra_admin_generic.png);
}

li.conges_admin_generic a {
	background-image: url(../../images/genymobile-2012/conges_admin_generic.png);
}

li.project_add a {
	background-image: url(../../images/genymobile-2012/project_add.png);
}

li.project_edit a {
	background-image: url(../../images/genymobile-2012/project_edit.png);
}

li.project_remove a {
	background-image: url(../../images/genymobile-2012/project_remove.png);
}

li.project_list a {
	background-image: url(../../images/genymobile-2012/project_list.png);
}

li.profile_add a {
	background-image: url(../../images/genymobile-2012/profile_add.png);
}

li.profile_edit a {
	background-image: url(../../images/genymobile-2012/profile_edit.png);
}

li.profile_remove a {
	background-image: url(../../images/genymobile-2012/profile_remove.png);
}

li.profile_list a {
	background-image: url(../../images/genymobile-2012/profile_list.png);
}

li.profile_admin a {
	background-image: url(../../images/genymobile-2012/profile_admin.png);
}

li.client_add a {
	background-image: url(../../images/genymobile-2012/client_add.png);
}

li.client_edit a {
	background-image: url(../../images/genymobile-2012/client_edit.png);
}

li.client_remove a {
	background-image: url(../../images/genymobile-2012/client_remove.png);
}

li.client_list a {
	background-image: url(../../images/genymobile-2012/client_list.png);
}

li.task_add a {
	background-image: url(../../images/genymobile-2012/task_add.png);
}

li.task_edit a {
	background-image: url(../../images/genymobile-2012/task_edit.png);
}

li.task_remove a {
	background-image: url(../../images/genymobile-2012/task_remove.png);
}

li.task_list a {
	background-image: url(../../images/genymobile-2012/task_list.png);
}

li.user_admin_password_change a {
	background-image: url(../../images/genymobile-2012/security_generic.png);
}

li.notifications a {
	background-image: url(../../images/genymobile-2012/notification.png);
}

li.reporting_monthly_view a {
	background-image: url(../../images/genymobile-2012/reporting.png);
}

li.reporting_personal a {
	background-image: url(../../images/genymobile-2012/reporting_personal.png);
}

li.reporting_cra a {
	background-image: url(../../images/genymobile-2012/reporting_cra.png);
}

li.admin_generic a {
	background-image: url(../../images/genymobile-2012/admin.png);
}

li.idea_add a {
	background-image: url(../../images/genymobile-2012/idea_add.png);
}

li.idea_edit a {
	background-image: url(../../images/genymobile-2012/idea_edit.png);
}

li.idea_remove a {
	background-image: url(../../images/genymobile-2012/idea_remove.png);
}

li.idea_list a {
	background-image: url(../../images/genymobile-2012/idea_list.png);
}


/* End of main dock style */

/* Bottom dock style */
#separator_top{
	display: block;
	width:960px;
	height:27px;
	margin:20px auto;
	background:url('../../images/genymobile-2012/separator_top.png') no-repeat;
	clear:both;
}
#separator_bottom{
	display: block;
	width:960px;
	height:33px;
	margin:20px auto;
	background:url('../../images/genymobile-2012/separator_bottom.png') no-repeat;
	clear:both;
}
/*div#bottomdock li {
	background-color: transparent;
	background-image: none;
	background-repeat: repeat;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	border-top-style: none;
	border-top-width: 0px;
	color: #535353;
	display: block;
	float: left;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 140px;
	line-height: 20px;
	margin-bottom: 0px;
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	width: 273px;
}

div#bottomdock a span.dock_item_title {
	background-color: transparent;
	background-image: none;
	background-repeat: repeat;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	border-top-style: none;
	border-top-width: 0px;
	color: #535353;
	display: block;
	font-family: Arial;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: 40px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 70px;
	padding-right: 0px;
	padding-top: 0px;
	width: 203px;
}
div#bottomdock a span.dock_item_content {
	background-color: transparent;
	background-image: none;
	background-repeat: repeat;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	border-top-style: none;
	border-top-width: 0px;
	color: #535353;
	display: block;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 80px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 70px;
	padding-right: 0px;
	padding-top: 0px;
	width: 203px;
}  */

/* End of bottom dock style */

/* Footer */
#footer {
	font-size:10pt;
	color:#59BA21;
	text-align:center;
	padding-bottom:35px;
}
#footer a{
	color:#59BA21;
	text-decoration:none!important;
	margin:0px 20px;
}
#footer a:hover{
	color:#6a6a6a;
}
/* End of footer */

/* New bottomdock */

/*<div id="bottomdock">
<h3 class="italic">Liens rapides</h3>
<div id='services' class='widget clearfix'>


<li class="cra_add">
	<a href="cra_add.php">
		<span class="dock_item_title">Ajouter un CRA</span><br/>
		<span class="dock_item_content">Ajouter un rapport d'activité pour une période donnée.</span>
	</a>
</li>
</div>
</div>*/

/*<div id='container_wrapper'>
    		<h3 class='italic'>En bref</h3>
    		<div id='services' class='widget clearfix'>
      		<div class='col'><img src="http://www-dev.genymobile.com/wp-content/uploads/2011/03/map.png" alt="Nos dernières références" /><h3>Nos dernières références</h3><p>- Socle technique Android - JCDecaux
- Box opérateur - Orange Vallée
- projet On - Orange Vallée</p></div>
    		</div>
     		<div class='separator_bottom'></div>
    </div>*/
#bottomdock {
	display: block;
	background: none;
	max-width: 960px;
	margin:auto;
	line-height: 20px;
	color: #6a6a6a;
/* 	height: 273px; */
/* 	position: relative; */
}

#bottomdock ul li {
	display: block;
	padding: 0;
	margin:0 12px;
	width: 273px;
	list-style: none;
	display: inline;
	height: 120px;
}

#bottomdock li a {
	display: block;
	text-decoration: none;
	background-repeat:no-repeat;
	background-position:0px 0px;
	line-height: 20px;
	color: #6a6a6a;
	height: 120px;
	width: 273px;
}

#bottomdock li a span.dock_item_title {
	font-weight: bold;
	font-size: 21px;
	font-family: 'Lato', sans-serif;
	height: 40px;
	width: 203px;
	position: absolute;
	display: block;
	padding-top: 10px;
}

#bottomdock li a span.dock_item_content {
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	height: 80px;
	width: 203px;
	position: absolute;
	display: block;
	padding-top: 15px;
}

#bottomdock li a span.dock_item_title, #bottomdock li a span.dock_item_content {
	margin-bottom: 10px;
	padding-left: 70px;
}

#bottomdock ul {
	display: inline;
/* 	height: 273px; */
/* 	width: 960px; */
/* 	min-width: 900px; */
/* 	vertical-align: middle; */
}

#services ul li {
	display: inline;
	vertical-align: middle;
	float: left;
/*	padding: 0;
	margin:0 12px;
	width: 273px;
	height: 140px;*/
}

h3.italic {
font-style: italic;
}

h3 {
font-weight: bold;
font-size: 21px;
font-family: 'Lato', sans-serif;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, figure {
margin-bottom: 20px;
}

#services {
	margin: 10px 10px 0;
	overflow: hidden;
/* 	height: 273px; */
}
/*#services h3, #services p {
	margin-bottom: 10px;
	padding-left: 70px;
}
#services img {
	float: left;
}
#services .col {
	padding: 0;
	margin:0 12px;
	width: 273px;
}

#services .col1 {
}

#services .col2 {
}

#services .col3 {
	margin-right: 0px;
}



.bouton{
text-shadow:0px -1px 0px #6a6a6a;
}*/



/********************************/
/* WIDGETS
/********************************/
/*.widget {
	border-radius: 3px;
}
#middle_content .widget {
	margin-bottom: 0px;
}



.widget ul {
	margin: 0;
}
.widget ul li {
	background: url(images/hr.jpg) repeat-x bottom;
	list-style: none;
	margin: 0 0 10px;
	padding: 5px 0 10px;
}
.widget ul li:last-child {
	background: none;
}
.widget ul li.clear {
	background: none;
	list-style: none;
	margin: 0;
	padding: 0;
}
.widget ul li a {
	display: inline;
	float: none;
	margin: 0px;
	padding: 0px;
}*/
/* End of new bottomdock */
