body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,li{ margin:0; padding:0;}
table{ border-collapse:collapse; border-spacing:0;}
fieldset,img{ border:0;}
address,caption,cite,code,dfn,th,var{ font-style:normal; font-weight:normal;}
ol,ul{ list-style:none;}
caption,th{ text-align:left;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
q:before,q:after{ content:'';}
abbr,acronym{ border:0;}

html {
	overflow:-moz-scrollbars-vertical;
	height: 100%;
}
body{
/* 	background:#eee; */
	background: gray;
	color:#333;
	font-family: 'Droid Sans', arial, serif;
	font-size:14px;
	line-height:16px;
	text-shadow:0 1px 0 #fff;
	height: 100%;
}
a{
	color:#333;
	text-decoration:underline;
}

input[type=submit],
input[type=button].submit,
a.submit{
	background:#ddd;
	background:-moz-linear-gradient(90deg, #95bd0d, #b1e012); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#b1e012), to(#95bd0d)); /* Webkit */
	border:1px solid #093c75;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-box-shadow:0 1px 0 #fff;
	-webkit-box-shadow:0 1px 0 #fff;
	color:#fff;
	cursor:pointer;
/* 	font-family:Arial,sans-serif; */
	font-family: 'Droid Sans', arial, serif;
	font-size:14px;
	font-weight:bold;
	margin-left:120px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0 1px 1px #333;
	text-transform:uppercase;
}
input[type=submit]:hover,
input[type=button].submit:hover,
a.submit:hover{
	background:#eee;
	background:-moz-linear-gradient(90deg, #a9d60f, #c5fa14);
	background:-webkit-gradient(linear, left top, left bottom, from(#c5fa14), to(#a9d60f));
	border-color:#093c75;
	text-decoration:none;
}
input[type=submit]:active,
input[type=submit]:focus,
input[type=button].submit:active,
input[type=button].submit:focus,
a.submit:active,
a.submit:focus{
	background:#ccc;
	background:-moz-linear-gradient(90deg, #c5fa14, #a9d60f);
	background:-webkit-gradient(linear, left top, left bottom, from(#a9d60f), to(#c5fa14));
	border-color:#093c75;
	outline:none;
}

.table_container {
	width: 932px;
}

.table_container select {
	width: 150px;
}

form{
	/*background:#f7f7f7;*/
	/*background:-moz-linear-gradient(90deg, #ccc, #fff);
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));*/
/* 	border:1px solid #aaa; */
	/*-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius: 10px;*/
	/*-moz-box-shadow:0 0 15px #aaa;
	-webkit-box-shadow:0 0 15px #aaa;*/
	margin:10px auto 0;
	padding:20px;
	width:660px;
}

form p{
	margin-bottom:20px;
}
form p:last-child{ /* Sélecteur avancé pour sélectionner le dernier paragraphe du formulaire */
	margin-bottom:0;
}
label{
	cursor:pointer;
	display:block;
	float:left;
	font-size:15px;
	font-weight:bold;
	line-height:28px;
	margin-bottom:5px;
	width:150px;
}

form select {
	cursor:pointer;
	display:block;
/* 	float:left; */
	font-size:14px;
	font-weight:bold;
	line-height:28px;
	margin-bottom:5px;
	width:245px;
	text-align: center;
}

form input[type=text] {
	width: 245px;
}

form textarea {
	width: 245px;
}

form p:hover label{
	color:#0459b7;
}

.centered {
	vertical-align: middle;
	text-align: center;
}

img#logo {
	position: absolute;
	display: block;
	top: 0;
	left: 5px;
}
#headband {
	position: absolute;
	display: block;
	height: 22px;
	text-align: left;
	vertical-align: middle;
	color: #6a6a6a;
	/*background:#f7f7f7;
	background:-moz-linear-gradient(90deg, #ccc, #fff);*/ /* Firefox */
	/*background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));*/ /* Webkit */
	background-color: #e7f3bd;
	border-bottom:1px solid #cedba2;
	border-left:1px solid #cedba2;
	border-right:1px solid #cedba2;
	-moz-border-radius:0px 0px 10px 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-khtml-border-bottom-right-radius: 10px;
	-khtml-border-bottom-left-radius: 10px;
	margin:auto auto 0 auto;
	padding:4px;
/* 	padding-bottom:15px; */
	width:auto;
	top:0px;
	font-size:14px;
	left:160px;
	/*margin-top:20px;*/
}

#mainarea {
	background-color: red;
	margin-top: 180px;
}