div.pp_content {
	background-color: #F7F7F7;
	background-image: -webkit-gradient(linear, left, right, from(#f7f7f7), to(#FFFFFF));
	background-image: -webkit-linear-gradient(left, #f7f7f7, #FFFFFF);
	background-image: -moz-linear-gradient(left, #f7f7f7, #FFFFFF);
	background-image: -ms-linear-gradient(left, #f7f7f7, #FFFFFF);
	background-image: -o-linear-gradient(left, #f7f7f7, #FFFFFF);
	background-image: linear-gradient(left, #f7f7f7, #FFFFFF);
	background-repeat: repeat-x;
}
.notifications_list li {
/* 	border-radius: 5px; */
	height: 40px;
	margin-bottom: 5px;
	border: 1px solid #D8D8D8;
/* 	margin-top: 5px; */
}

.notifications_list li img {
	position: relative;
	top: 4px;
	left: 4px;
	height:32px;
	width: 32px;
}

.notifications_list li span {
	position: relative;
	top: -10px;
	left: 10px;
	height: 38px;
}

.notification_type_security:hover {
/* 	border: 1px solid #0061b3; */
	background-color: #b5ddff;
}

.notification_type_question:hover {
/* 	border: 1px solid #0061b3; */
	background-color: #b5ddff;
}

.notification_type_contacts:hover {
	background-color: #84BE5D;
	border: 1px solid #D9D9D9;
	color: #fff;
	text-shadow:none;
/* 	border: 1px solid #cedba2; */
}

.notification_type_info:hover {
	background-color: #84BE5D;
	border: 1px solid #D9D9D9;
	color: #fff;
	text-shadow:none;
/* 	border: 1px solid #cedba2; */
}

.notification_type_cra:hover {
	background-color: #84BE5D;
	border: 1px solid #D9D9D9;
	color: #fff;
	text-shadow:none;
/* 	border: 1px solid #cedba2; */
}

.notification_type_info:hover {
	background-color: #84BE5D;
	border: 1px solid #D9D9D9;
	color: #fff;
	text-shadow:none;
/* 	border: 1px solid #cedba2; */
}

.notification_type_ok:hover {
	background-color: #84BE5D;
	border: 1px solid #D9D9D9;
	color: #fff;
	text-shadow:none;
/* 	border: 1px solid #cedba2; */
}

.notification_type_warning:hover {
/* 	border: 1px #ec1717 solid; */
	background-color: #e7acac;
}

.notification_type_nok:hover {
/* 	border: 1px #ec1717 solid; */
	background-color: #e7acac;
}

.notification_type_critical:hover {
/* 	border: 1px #ec1717 solid; */
	background-color: #e7acac;
}

