
ul.ps_float {
	display: inline;
	margin-left: 30px;
	padding-right: 20px;
	padding-bottom: 20px;
	vertical-align: middle;
}

ul.ps_float li {
	display: block;
	margin: 0px auto auto auto;
	padding-right: 20px;
	padding-bottom: 20px;
	vertical-align: middle;
/* 	border: 1px solid #D8D8D8; */
	width: 500px;
	height: 70px;
}

